@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <label for="name">Enter your name</label>
    <input id="name" placeholder="Enter your name"/>

    <label for="password"></label>
    <input id="password" placeholder="Enter your password"/>

    <button type="submit" id="button">Sign Up</button>

</form>

<script src="~/js/Home/login.js"></script>